.headerContainer {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
.shareBody{
    margin-left: 3rem;
    width: 60vw;
}
.nameContainer{
    display: flex;
    justify-content: space-between;
}
.labelAndInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
}
.labelAndInput textarea{
    height: 15vh;
    background-color: black;
    outline: 1px solid var(--white);
    border-radius: 5px;
}
.labelAndInput input{
    background-color: black;
    outline: 1px solid var(--white);
    border-radius: 5px;
}
.mealInput{
    display: none;
}
.button{
    display: flex;
    justify-content: end;
}
.imagePicker{
    display: flex;
    height: 10rem;
    margin-top: -10px;
}
.imageBox{
    width: 10rem;
    border: 1px dotted var(--white);
    margin-right: 2rem;
    padding: 0.25rem;
    position: relative;
    overflow: hidden;
}