.headerContainer {
  margin-top: 110px;
  margin-left: 50px;
}
.heading {
  font-size: 2.6rem;
  font-weight: bolder;
}

.headerContainer p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.main {
  margin-top: 5rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
