.header {
  border: 1px solid white;
  width: 100%;
  height: 18rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.imageSlide {
  border: 5px solid green;
  height: 100%;
  width: 100%;
}
.cta {
  border: 1px solid yellow;
  height: 100%;
  width: 100%;
}
